<div class ="span10">
  <h4>What?</h4>
  <p>This site is a little thang to manage all the different models of phones you probable have, it can also store customer details, with a safe (hashed) password </p>
</div>

<div class="span4">
  <h3>The Data</h3>
</div>