<div class="span14">
  <h2>What?</h2>
  <p>This site is a little thing to manage all the different models of phones you probably have, it can also store customer details, with a safe (hashed) password </p>
</div>