<div class="span14">
	<h6>login</h6>
	<form id="loginForm" action="/login" method="post">
		<div class="clearfix">
		Username: <input class="xlarge" id="loginUser" name="user" type="text" size="30">
		</div>
		<div class="clearfix">
		Password: <input class="xlarge" id="loginPasswd" name="passwd" type="password" size="30">
		</div>
		<button class="btn primary">Login</button>
	</form>
</div>