<div class="span10">
	<form action="/login" method="post">
		<input class="xlarge" id="loginUser" name="user" type="text" size="30">
		<imput class="xlarge" id="loginPasswd" name="passwd" type="text" size="30">
	</form>
</div>

<div class="span4">
	<p>The login page</p>
</div>